___
<a href='https://agroinformatics.org'> <img src='images/GEMS-logo2d.png' /></a>
___

# API for AgData

Instructions for testing Ag Data API

# Installation and Setup

Details to come.. You need to have a PostgreSQL database with Data Loaded

### Get python API function:
At the moment login credentials are hard coded. This needs to be fixed.

# Query Ag Data from Postgres Database

I have implemented a few function to demo how the API functions will work:

In [1]:
# Import API package
from src.api import *

### Get all barley varieties.

In [3]:
variety = get_crop_varieties(crop="barley")
variety.head(10)

   Crop Variety
0   ac metcalfe
1     baronesse
2  cdc copeland
3   celebration
4     commander
5        conrad
6  eight-twelve
7          ishi
8          maja
9        meltan

### Get traits for the barley variety Maja.

In [9]:
trait = get_traits(crop="Barley", variety="Maja")
trait.head(5)

                                     Traits
0  averages about 42 inches in plant height
1   desired for production of lighter beers
2                           doubled haploid
3                         drought avoidance
4                            early maturity