# Plant Trait Explorer

Instructions for testing plant trait explorer API.

**TODO**
- Login credentials are hard coded. This needs to be fixed.
- Get info currently returns (if available) year the variety was introduced and where geographically was it produced. We need to add what institution produced it.

# Installation and Setup

Details to come.. 

Before proceeding, make sure you have PostgreSQL installed and the source code store in a folder e.g., '/Users/gonsongo/Desktop/research/gems/IaaAgDataNER/src'

### Import code and data files
The code is in prototype phase and as a result, it is not packaged and cannot be installed. Download the code and source data files and add the paths so the notebook can find them.

In [ ]:
import os
import sys

# Path to source code
sys.path.append('/Users/gonsongo/Desktop/research/gems/IaaAgDataNER/src')
# Path to data source
sys.path.append('/Users/gonsongo/Desktop/research/gems/IaaAgDataNER/test')

# Load the source code
from queryOpenAI import *

# Load module for displaying PDF and HTML documents
from IPython.display import IFrame

In [18]:
get_crop_varieties("wheat")

  Variety Name
0      bond cl
1   incline ax

In [19]:
get_crop_info('potato', 'yukon gold')

  Variety Name     Category Name      Info
0   yukon gold  geographic range  nebraska
1   yukon gold  geographic range   ontario
2   yukon gold      release date      1981

In [20]:
get_traits('wheat', 'incline ax')

   Variety Name   Category Name                                         Info
0    incline ax  disease traits            excellent resistance to leaf rust
1    incline ax  disease traits          excellent resistance to stripe rust
2    incline ax  disease traits  excellent resistance to wheat streak mosaic
3    incline ax  general traits                                 fair protein
4    incline ax  general traits                                   fair yield
5    incline ax  general traits                       good drought tolerance
6    incline ax  general traits                medium-long coleoptile length
7    incline ax  general traits                          medium-short height
8    incline ax  general traits                             poor test weight
9    incline ax  general traits                     very good baking quality
10   incline ax  general traits                     very good straw strength

In [21]:
get_source('wheat', 'incline ax', 'excellent resistance to stripe rust')

   Source Number                                Trait
0              4  excellent resistance to stripe rust

 **Display document**

In [22]:
file = get_file_name(4)
path_to_file = "./"+file
IFrame(file , width=600, height=300)

In [23]:
get_source('potato', 'yukon gold', 'susceptible to common scab')

   Source Number                       Trait
0              3  susceptible to common scab
1              7  susceptible to common scab
2              8  susceptible to common scab

In [24]:
file = get_file_name(7)
path_to_file = "./"+file
IFrame(file , width=600, height=300)
# NOTE: To search for term in document....

In [25]:
file = get_file_name(8)
path_to_file = "./"+file
IFrame(file , width=600, height=300)

In [26]:
cropName = 'potato'
trait_inclusion_list = ['resistant to verticillium wilt', 'white creamy flesh']
trait_exclusion_list = ['susceptible to common scab']
match_traits(cropName , trait_inclusion_list, trait_exclusion_list)

        Variety Name
0  clearwater russet

In [27]:
trait_inclusion_list = ['yellow white tuber skin']
trait_exclusion_list = ['none']
match_traits(cropName , trait_inclusion_list, trait_exclusion_list)

  Variety Name
0   yukon gold