# Plant Trait Explorer

Instructions for testing plant trait explorer API.

- TODO: login credentials are hard coded. This needs to be fixed.

# Installation and Setup

Details to come.. 

Before proceeding, make sure you have PostgreSQL installed and the source code store in a folder e.g., '/Users/gonsongo/Desktop/research/gems/IaaAgDataNER/src'

### Import code 
The code is in prototype phase and as a result, it is not packaged and cannot be installed. Download the code into a directory and add the path so the notebook can find the code.

In [1]:
import os
import shutil
import sys

# appending a paths
sys.path.append('/Users/gonsongo/Desktop/research/gems/IaaAgDataNER/src')
sys.path.append('/Users/gonsongo/Desktop/research/gems/IaaAgDataNER/test')

# Load the source code
from queryOpenAI import *

# Load module for displaying PDF and HTML documents
from IPython.display import IFrame

 **Display document**

In [16]:
# status = shutil.copyfile(source, destination)
fileToLoad = destination = "BoulderProfile.pdf"
IFrame(destination, width=600, height=300)

In [17]:
source = "/Users/gonsongo/Desktop/research/gems/IaaAgDataNER/Data/test/HS1296.html"
destination = "./HS1296.html"
# status = shutil.copyfile(source, destination)
IFrame(destination, width=600, height=300)

In [2]:
get_crop_varieties("potato")

        Variety Name
0    adirondack blue
1            boulder
2  clearwater russet
3         yukon gold

In [3]:
get_crop_info('potato', 'yukon gold')

,Variety Name,Category Name,Info
0,yukon gold,geographic range,nebraska
1,yukon gold,geographic range,ontario
2,yukon gold,release date,1981
3,yukon gold,source,https://cropwatch.unl.edu/potato/yukongold_cha...
4,yukon gold,source,https://edis.ifas.ufl.edu/publication/HS1296
5,yukon gold,source,https://potatoassociation.org/varieties/white-...
6,yukon gold,source,https://seedpotato.russell.wisc.edu/2018/05/14...